<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>


  <appSettings>


    <!--图片临时文件夹 绝对路径-->
    <add key="ImageAbsoluteFolderTemp" value="H:\工作项目\泰达街项目\泰达街小区出入实名管理小程序\XQCRSMSystem_fzr\XQCRSMSystem\files\temp"/>
    <!--图片正式文件夹 绝对路径-->
    <add key="ImageAbsoluteFolderFinal" value="H:\工作项目\泰达街项目\泰达街小区出入实名管理小程序\XQCRSMSystem_fzr\XQCRSMSystem\files\product"/>
    <!--图片临时文件夹 相对路径-->
    <add key="ImageRelativeFolderTemp" value="https://bhteda.com/XQCRGL/files/temp"/>
    <!--图片正式文件夹 相对路径-->
    <add key="ImageRelativeFolderFinal" value="https://bhteda.com/XQCRGL/files/product"/>
    
    <!--图片正式文件夹 相对路径-->
    <add key="ImageQRCode" value="https://bhteda.com/XQCRGL/QRCoder/"/>

    <add key="AppID" value="wxc3a1dbf31210b837"/>
    <add key="AppSecret" value="acfb8de7a7c5ace2f5c94970988cc1e8"/>
    <add key="grant_type" value="authorization_code"/>


    <!--腾讯网关接口需要进行 签名配置-->
    <add key="paasid" value="wx0e1049c16a871a61"/>
    <add key="Token" value="16TQdO2xkRq5a0csdjAVmkVxV2A2Iuig"/>
    <add key="WGUrl" value="http://smartgate.bhteda.com/ebus/tifapi/user/getuserinfo"/>
    
  </appSettings>
  <connectionStrings>
    <add name="XQCRDB" connectionString="Data Source=.;Initial Catalog=XQCRDB;User ID=sa;Password=App1234;Connect Timeout=3000;" providerName="System.Data.SqlClient"/>
    <add name="AITedaDB" connectionString="Data Source=.;Initial Catalog=MicrocosmicWeb;User ID=sa;Password=App1234;Connect Timeout=3000;" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
